body {
  background-color: #151519;
  color: aliceblue;
  font-family: Inter, sans-serif;
}

nav {
  width: 100%;
  padding: 30px;
}

nav ul {
  list-style-type: none;
}

nav li {
  font-size: 19px;
  padding: 20px;
  font-family: "Wix Madefor Display", sans-serif;
  display: inline-block;
}

nav .active {
  color: lightcoral;
}

li a {
  text-decoration: none;
  color: aliceblue;
}

section {
  padding: 30px;
}

h1 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding: 20px 0;
}

h2 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding: 20px 0;
}
